@import "tailwindcss";

html, body {
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, #fef4da, #fae7b4, #fada84);
}

/* For all scrollable elements */
::-webkit-scrollbar {
  width: 6px;  /* slim width */
  height: 6px; /* for horizontal scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* subtle track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcd34d; /* your yellow color */
  border-radius: 10px;
  border: 2px solid transparent; /* optional: adds spacing */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fbbf24; /* slightly darker yellow on hover */
}
