@import "tailwindcss";

body {
  background-image: 
    linear-gradient(to right, #fef4da, #fae7b4, #fada84);
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
