.heroImage {
    justify-content: flex-start;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 10;
}

.contactCard {
  margin-top: -120px; /* negative margin for large screens */
  min-width: 500px;
}

@media (max-width: 850px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    width: 90vw; /* optional smaller width for mobile */
  }

  .contactCard {
    margin-top: 0; /* remove negative margin */
    min-width: auto;
  }

  .heroImage {
    justify-content: center;
  }
}
